html {
  height: 100%;
  width: 100%;
}

body{
text-align:center;

  }
  
.what{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 10px;
   color: rgba(1, 1, 1, 0.7)
  
}



.header{
 
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background:pink;
  padding-bottom: 60px;
  padding-top: 40px;
  color: rgba(1, 1, 1, 0.7)
}

a.button {
   
   background-color: pink; /
  
   color: white;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   cursor: pointer;

}
 
.button {
 
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button:hover {
  background-color: white;
  color: pink;
}


.middle{
padding-bottom: 40px;
  
font-family: "Plus Jakarta Sans", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
   color: rgba(1, 1, 1, 0.7)
}

spacer{
padding: 20px 20px;
  
}

.container{
padding-left: 200px;
  padding-right:200px;

  
}
.container2{
padding-left: 200px;
  padding-right:200px;


}
.header2{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background:pink;

  padding-top: 10px;
   color: rgba(1, 1, 1, 0.7)
  font-size: 30px;
}
.buttons{
padding-bottom: 100px;
 
  
}
h1{
  font-size: 80px;
  
}

#sname {
  
  margin-top: 100px;
  margin-bottom: 70px;
  color: rgba(1, 1, 1, 0.7);
}
#sname h1 {
  font-weight: bold;
  font-size: 110px;
  transition: all 500ms;
}
#sname h1:hover {
  font-size: 150px;
  font-size-adjust: 20px;
}


#snames {
  margin-top: 5px;
  margin-bottom: 30px;
  color: rgba(1, 1, 1, 0.7);
}
#snames  {
  font-weight: bold;
  font-size: 4em;
  transition: all 100ms;
}
#snames :hover {
  font-size: 20px;
  font-size-adjust: 10px;
}