body{
text-align:center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.button {
margin-top:50px;
  border: 2px solid white;
  background-color: pink; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: pink;
}
#snameyd {

  margin-bottom: 60px;
  color: rgba(1, 1, 1, 0.7);
}
#snameyd  {
  font-weight: bold;
  font-size: 4em;
  transition: all 60ms;
}
#snameyd :hover {
  font-size: 20px;
  font-size-adjust: 10px;
}



* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

span {
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.text1 {
  font-size: 100px;

  animation: textBounceStretch 3s 1;
  position: relative;
  margin-top:200px;
   color: pink;
}

.text2 {
  font-size: 40px;
  color: rgba(1, 1, 1, 0.7)

}
@keyframes textBounceStretch {
  0% {
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}